header#page-header {
position: relative;
height: 50px;
margin: 0px;
padding: 0px;
text-align: left;
color: black;
font-size: 40px;
line-spacing: 0.5;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

}

