header#page-header {
position: relative;

	p {
	margin: 20px;
	text-align: center;
	color: black;
	font-size: 40px;
	line-spacing: 0.5;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	}

}